/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: 'Arial', sans-serif;
  background-color: black;
  /* Fundo preto */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container para o layout em grid */
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* Definindo duas colunas */
  grid-gap: 20px;
  width: 100%;
  max-width: 1200px;
  height: 80%;
}

/* Estilos do painel esquerdo */
#left-panel {
  background-color: #222;
  padding-right: 20px;
  border-radius: 10px;
}

#left-panel h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 20px;
}

.session-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 100%;
}

.session-btn:hover {
  background-color: #45a049;
}

/* Estilos do painel direito */
#right-panel {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

#exercise-section {
  display: none;
}

#exercise-section h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

#english-phrase {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

#translation {
  font-size: 18px;
  color: #bbb;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
}

#check-answer {
  padding: 10px;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

input[type="text"] {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 400px;
}

button {
  background-color: #2196F3;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;

  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0b79d0;
}

/* Feedback section */
#feedback {
  margin-top: 20px;
  font-size: 20px;
}

.progress-container {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  margin-top: 20px;
  border-radius: 5px;
}

.progress {
  width: 0;
  height: 100%;
  background-color: #4CAF50;
  border-radius: 5px;
  transition: width 0.3s ease;
}

/* Contêiner para o campo da frase falada e o botão de fala */
.spoken-phrase-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  /* Alinha o botão e o campo de texto verticalmente */
  justify-content: space-between;
  /* Coloca os elementos com espaçamento entre eles */
  width: 100%;
  /* Garante que o contêiner ocupe toda a largura disponível */
}

#spoken-phrase {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 400px;
  font-family: Arial, Helvetica, sans-serif
}

.start-speech-btn {
  margin-top: 12px;
  margin-right: auto;
  /* Espaço entre o campo de texto e o botão */
  background-color: #2196F3;
  color: white;
  width: 20%;

  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  height: 45px;
  /* Mesma altura do campo de texto */
  line-height: normal;
  align-items: center;
  /* Garante que o ícone dentro do botão fique centralizado */
  justify-content: center;
  /* Centraliza o ícone dentro do botão */
}

.button-group {
  margin-top: 20px;
}


/* Controles de velocidade */
.phrase-container {
  display: flex;
  justify-content: space-between;
  /* Alinha os itens à esquerda e à direita */
  align-items: center;
  /* Alinha verticalmente os itens */
}

.controls {
  display: flex;
  align-items: center;
}

#listen-button,
#speed-dropdown {
  margin-left: 10px;
}

#speed-dropdown {
  margin-top: 5px;
  background-color: #2196F3;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#speed-options {
  display: none;
  position: absolute;
  background-color: #333;
  border-radius: 5px;
  z-index: 1;
  margin-top: 12px;
}

.speed-option {
  background-color: #333;
  color: white;
  padding: 10px 5px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s;
}

.speed-option:hover {
  background-color: #4CAF50;
  transition: 1s;
}

#speed-dropdown:hover #speed-options {
  display: block;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 1024px) {
  body {
    padding: 10px;
  }

  .container {
    grid-template-columns: 1fr;
    /* Em telas menores, os grids se tornam uma única coluna */
  }

  #left-panel {
    padding-right: 20px;
    min-width: 300px;
    max-width: 1024px;
    width: auto;


  }

  #left-panel h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }

  .session-btn {
    font-size: 16px;
  }

  #right-panel {
    width: auto;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    height: auto;
  }

  input[type="text"] {
    width: 90%;
  }

  button {
    width: 100%;
  }

  .start-speech-btn {
    width: 50%;
  }

  #spoken-phrase {
    width: 50%;
  }
}